###Go###

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# various
.aws-sam/
.env*
.vscode/
dist/
docs/*
package.yml
scratch*
tmp
vendor/
scripts/login_first.sh
scripts/fetch_token.sh